@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #0097e6;
}

body {
  overflow-x: hidden;
  background: #ffcccc;
}

section {
  padding: 3rem 9%;
}

#line {
  width: 100%;
  height: 3px; /* Độ dày của đường nét */
  background: linear-gradient(to right, #ff66b2 50%, #ff66b2 50%); /* Gradient từ màu hồng đến màu xanh lam */
}
.btnwish {
  float: right;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #0097e6;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 20px;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #ec407a;
  text-transform: capitalize;
  text-transform: uppercase;
}


.heading span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0097e6;
}


.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content span {
  font-size: 2rem;
  color: #ec407a;
  text-shadow: 0.8px 0.8px 0.5px rgba(0, 190, 253, 1);
}

.about .content h2 {
  font-size: 3rem;
  color: #ec407a;
  text-shadow: 0.8px 0.8px 0.5px rgba(0, 190, 253, 1);
}

.about .content h3 {
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 1.5rem;
}

.about .content p {
  font-size: 1.6rem;

  line-height: 2;
  padding: 1.5rem 0;
  color: #ff00b394;
  text-shadow: 0.7px 0.7px 0.5px rgba(0, 190, 253, 1);
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia mỗi hàng thành 4 cột bằng độ rộng bằng nhau */
  gap: 1.5rem; /* Khoảng cách giữa các ô */
}

.gallery .box-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}


.gallery .box-container img.clicked {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95); /* Scale lớn hơn khi click */
  z-index: 9999;
  transition: transform 0.3s ease;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7); /* Đổ bóng mạnh hơn khi zoom */
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  text-align: center;
}

.blogs .box-container .box:hover .images img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box .images {
  height: 35rem;
  overflow: hidden;
}

.blogs .box-container .box .images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding-top: 2rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  color: #aaa;
  line-height: 2;
  padding: 1.5rem 0;
  padding: 1rem 2rem;
}

.blogs .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background-color: #0a0a0a;
  margin-top: 2rem;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.6rem;
  color: #fff;
}

.blogs .box-container .box .content .icons a i {
  color: #0097e6;
  padding-right: .5rem;
}

.blogs .box-container .box .content .icons a:hover {
  color: #0097e6;
}

.footer {
  background-color: #0a0a0a;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.footer .credit {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  text-transform: capitalize;
}

.footer .btn {
  margin-left: 550px;
  padding: 10px;



}
.footer .credit span {
  color: #0097e6;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .countdown-container {
    display: inline;  
  }
  
  element.style {
    font-size: 20px;
  }
  .footer .btn {
    font-size: 11px;
    width: 70%;
    text-align: center;
    margin-left: 45px;
  }
  .footer .credit {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
  }
  
}



.countdown-container {
  text-align: center;

  padding: 30px;
  border-radius: 20px;

  margin-bottom: 40px;
  max-width: 600px;
  width: 100%;
}


h1 {

  color: #ff6f61;
  font-family: 'Pacifico', cursive;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#countdown {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  margin-top: 20px;
}

#countdown div {
  color: #333;
  padding: 20px 20px;
  background: #ffe3e3;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

#countdown span {
  display: block;
  font-size: 3.5em;
  color: #ff6f61;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */